<h3>Editing Employee</h3>

<%= render 'form', employee: @employee %>
<hr>
  <%= link_to 'Show', @employee, class: 'btn btn-success btn-sm'%> |
  <%= link_to 'List Employee', previousholders_path, class: 'btn btn-info btn-sm' %>
</hr>
