<h3>Editing Previousholder</h3>

<%= render 'form', previousholder: @previousholder %>
<hr>
<%= link_to 'Show', @previousholder, class: 'btn btn-success btn-sm' %> |
<%= link_to 'Back', previousholders_path, class: 'btn btn-info btn-sm' %>
</hr>
