<h3>Editing Item</h3>
<%= render 'form', item: @item %>
<hr>
  <%= link_to 'Show', @item, class: 'btn btn-success btn-sm' %> |
  <%= link_to 'List Items', items_path, class: 'btn btn-info btn-sm' %>
</hr>
