// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-custom-scrollbar {
position: relative;
height: 250px;
width: auto;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
.table-wrapper-scroll-x {
display: block;
}
